DOCTYPE 
html
 head
  ul
   li 
    button(type='button' onclick="doSomething()")
     a Home 
   li 
    button(type='button' onclick="doSomething()")
     a Home
    li 
     button(type='button' onclick="doSomething()")
      a Home


body
 block content 
 br
 hr
 footer 
  p Copyright &copy; 2023
